.tags {
  margin: 10px 0;
}
.tag {
  border-radius: 100px;
  background-color: #eaeaea;
  padding: 2px 8px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .tag {
    margin-right: 5px;
    font-size: 0.6rem;
  }
}
