header.svelte-ejjb8t.svelte-ejjb8t{padding:calc(1.4vw + 8px) 0px;position:relative;overflow:hidden;width:72em;max-width:92%;margin:30px auto 20px;background:#fff;background:var(--theme-container-background, #fff);border-radius:3px;border:2px solid var(--main-accent-bg-color);box-shadow:5px 6px 0px var(--main-accent-bg-color)}.profile.svelte-ejjb8t.svelte-ejjb8t{align-items:center;display:flex;flex-direction:column;align-items:center;justify-content:center;margin:0 20px}.profile-image.svelte-ejjb8t.svelte-ejjb8t{background:var(--main-accent-fg-color);width:calc(12.2vw + 50px);height:calc(12.2vw + 50px);border-radius:200px;max-width:220px;max-height:220px;margin-bottom:1em;border:4px solid var(--main-accent-fg-color)}.small.svelte-ejjb8t .profile.svelte-ejjb8t{flex-direction:row !important}.small.svelte-ejjb8t .profile-image.svelte-ejjb8t{margin-right:20px;width:calc(8.2vw + 35px);height:calc(8.2vw + 35px);border-radius:50%;max-width:100px;max-height:100px}.profile-description.svelte-ejjb8t.svelte-ejjb8t{display:grid;grid-template-columns:3fr 2fr;grid-column:auto}.small.svelte-ejjb8t .profile-description.svelte-ejjb8t{grid-template-columns:1fr}.extra-profile-info.svelte-ejjb8t.svelte-ejjb8t{display:flex;align-items:center;justify-content:center;flex-direction:column;font-style:italic;font-size:1.4rem;margin:10px 0;color:#999999}h1.svelte-ejjb8t.svelte-ejjb8t{color:var(--main-accent-fg-color);font-weight:600}@media(max-width: 640px){.extra-profile-info.svelte-ejjb8t.svelte-ejjb8t{font-size:1rem}}
.tags {
  margin: 10px 0;
}
.tag {
  border-radius: 100px;
  background-color: #eaeaea;
  padding: 2px 8px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .tag {
    margin-right: 5px;
    font-size: 0.6rem;
  }
}